* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: black;
}

$top_bar: #1d7373;
$page_background: rgb(255, 178, 115);
$font_color: #a64b00;

$top_bar_dark: #200772;
$page_background_dark: #876ed7;
$font_color_dark: #813a00;
